.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache
*.pdb
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets
.DS_Store
Thumbs.db
*.dll
*.bak
*.exe
/publish
/Properties/launchSettings.json
/README.md
/LICENSE
